{% extends "base.html.twig" %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
    <section class="container center-align">
        <h1>Page d'accueil</h1>
    <section>
{% endblock %}