{% for product in products %}
	<section class="col s12 m6 l6">
		<div class="card-panel grey lighten-5 z-depth-1">
			<div class="row valign-wrapper">
				<div class="col s4">
					{{ product.name }}
					<img src={{ product.image }} alt={{ product.name }} class="circle responsive-img">
					{% for tag in product.tags %}
						<em>
							#{{ tag.name }}
						</em>
					{% endfor %}
				</div>
				<div class="col s8">
					<p class="black-text">
						{{ product.description}}
					</p>
					<p class="black-text">
						Prix :
						{{ product.price}}
						€
					</p>
					{% if product.promotion %}
						<p class="black-text">
							En promotion
						</p>
					{% else %}
						<p class="black-text">
							Pas de promotion
						</p>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
{% endfor %}
