{{ form_start(form, {'attr': {'class': 'row'}}) }}
    
    {{ form_row(form.q,{'attr': {'class': 'input-field col s12 m12 l12'}}) }}
    
    {{ form_rest(form.tags,{'attr': {'class': 'filled-in'}}) }}

    {{ form_row(form.minprice,{'attr': {'class': 'input-field col s12 m12 l12'}}) }}

    {{ form_row(form.maxprice,{'attr': {'class': 'input-field col s12 m12 l12'}}) }}

    {{ form_row(form.promotion) }}
    
    <button class="btn waves-effect waves-light" type="submit" name="action">
        Filtrer 
    </button>
        
{{ form_end(form) }}
