{% extends "base.html.twig" %}

{% block title %}Page Produits{% endblock %}


{% block body %}
	<section class="row container center-align">
		<h1>Page Produits</h1>
		<div class="pagination">
			{{ knp_pagination_render(products) }}
		</div>
		<article class="col s3">
			{% include "product/_filter.html.twig" with {form : form} only %}
		</article>
		<article class="col s9">
			{% include "product/_card.html.twig" with {products : products} only %}
		</article>
	<section>
{% endblock %}
