{% block nav %}
<nav>
	<div class="nav-wrapper">
		<a href="{{ path("index") }}" class="brand-logo">Gestion</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li>
				<a href={{path("products")}}>Produits</a>
			</li>
			<li>
				<a href={{path("rss")}}>RSS Feeds</a>
			</li>
		</ul>
	</div>
</nav>

<ul class="sidenav" id="mobile-demo">
	<li>
		<a href={{path("products")}}>Products</a>
	</li>
	<li>
		<a href={{path("rss")}}>RSS Feeds</a>
	</li>
</ul>



{% endblock %}